################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Project_1/.vs/Project_1/v17
/Project_2/.vs/Project_2/v17
/Reducer_DLL/.vs/Reducer_DLL/v17
/Mapper_DLL/.vs/Mapper_DLL/v17
